<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741088756125-utvgra6lsqi26srjm6fpv8ckl8kab34l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741088756125-utvgra6lsqi26srjm6fpv8ckl8kab34l</string>
	<key>API_KEY</key>
	<string>AIzaSyAzk-2Z1Y4Xbfh6HRdlzJDLssZDkSczxIg</string>
	<key>GCM_SENDER_ID</key>
	<string>741088756125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.app.com.Granny</string>
	<key>PROJECT_ID</key>
	<string>granny-381a1</string>
	<key>STORAGE_BUCKET</key>
	<string>granny-381a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741088756125:ios:8eb99c21f631fb2d13ef74</string>
</dict>
</plist>